.wrap {
    padding: 15px 10px;

}
.usrsWrap{

}
.usWrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.usrs{
    text-align: center;
    -moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.usr {
    width: 50%;
    height: 100px;
    background-color: #9b9dd0;
    margin-bottom: 60px;
    border-radius: 3px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
            "ava info info info info info info info info"
            "btn btn btn btn btn btn btn btn btn"
;
    -moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.info{
    grid-area: info;
}
.avaWrap{
    grid-area: ava;
}
.ava{
    max-height: 95px;
    border: 2px solid #b7b7d9;
    border-radius: 50%;
    background-color: #E6E8F0;
}
.infoWrap{
    overflow: auto;
    padding: 2px 5px;
}
.name{
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 10px;
}
.about{
    font-size: 18px;
    font-weight: 400;
    color: #232323;
    margin-bottom: 5px;
}
.loca{
    font-size: 17px;
    font-weight: 400;
    color: #3a3a3b;
}
.btnWrap{
    grid-area: btn;
    margin-top: 3px;
}
.btnUn{
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #9b9dd0;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    font-size: 15px;
    color: #000000;
    font-weight: 600;
}
.btnF{
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #5454a2;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    font-size: 15px;
    color: #ffffff;
    font-weight: 600;
}
.infoWrap::-webkit-scrollbar {
    display: none;
}