.wrap {
    padding: 15px 10px;

}
.usWrap{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.usrs{
    text-align: center;
    -moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.usr {
    width: 60%;
    height: 100px;
    background-color: #9b9dd0;
    margin-bottom: 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    -moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.info{
    display: flex;
}
.ava{
    max-height: 100px;
    margin-right: 7px;
    padding-right: 5px;
    background-color: #E6E8F0;
}
.infoWrap{
    width: 90%;
    overflow: auto;
}
.name{
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 10px;
}
.about{
    font-size: 18px;
    font-weight: 400;
    color: #232323;
    margin-bottom: 5px;
}
.loca{
    font-size: 17px;
    font-weight: 400;
    color: #3a3a3b;
}
.btnWrap{
    width: 100%;
    margin-top: -2px;
}
.btnUn{
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #9b9dd0;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    font-size: 15px;
    color: #000000;
    font-weight: 600;
}
.btnF{
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #6d6ddc;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    font-size: 15px;
    color: #ffffff;
    font-weight: 600;
}
.infoWrap::-webkit-scrollbar {
    display: none;
}