.wall{
    grid-area: wall;
    background-color: #b8b8d2;
    box-shadow: 0 3px 10px 2px rgba(92, 92, 136, 0.51);
    height: 100vh;
}
.add{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.inputWrap{
    box-shadow: 0 3px 5px 2px rgba(92, 92, 136, 0.51);
    width: 50%;
    background-color: #9b9dd0;
    border-radius: 10px;
    padding: 15px;
}
.typesome{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    -moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.input{
    width: 100%;
    border-radius: 10px;
    border: none;
    height: 30px;
    background-color: #b1b4d7;
    font-size: 17px;
    font-weight: 500;
    padding: 5px;
    transition-duration: 100ms;
}
.input:focus{
    background-color: #cfcfe5;
}
.input:hover{
    background-color: #cfcfe5;
}
.btnWrap{
    margin-top: 10px;

}
.btn{
    border-radius: 10px;
    border: none;
    height: 30px;
    background-color: #d0d3e0;
    width: 30%;
}
.btn:hover{
    background-color: #dadff3;
    cursor: pointer;
}
