.wrapper{
    box-shadow: 0 3px 5px 5px rgba(92, 92, 136, 0.51);
    background-color: #9b9dd0;
    border-radius: 5px;
    height: 100%;
    max-height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputWrap{
    box-shadow: 0 3px 5px 2px rgba(92, 92, 136, 0.51);
    width: 100%;
    background-color: #9b9dd0;
    padding: 15px;
}
.input{
    width: 100%;
    border-radius: 5px;
    border: none;
    height: 30px;
    background-color: #e5eafa;
    font-size: 17px;
    font-weight: 500;
    color: #595959;
    padding: 5px;
    transition-duration: 100ms;
}
.input:focus{
    background-color: #eeeeee;
}
.input:hover{
    background-color: #eeeeee;
}
.btn{
    border: none;
   /* border-left: 2px solid #686896;
    border-radius: 7px;*/
    background: rgb(155,157,208);
    background: linear-gradient(90deg, rgba(155,157,208,1) 0%, rgb(206, 206, 231) 100%);
    box-shadow: 0 1px 1px 1px rgba(92, 92, 136, 0.51);
    height: 100%;
    width: 10%;

}
.btn:hover{
    background: linear-gradient(90deg, rgba(155,157,208,1) 0%, rgb(233, 233, 246) 100%);
    cursor: pointer;
}
.line{
    /*border: 1px solid #494975;/*/
    width: 1px;
    height: 100%;
    /*background: rgb(240,240,241);*/
    /*background: linear-gradient(0deg, rgba(240,240,241,1) 0%, rgba(73,73,117,1) 38%, rgba(80,80,122,1) 68%, rgba(240,240,241,1) 100%);*/
    background: rgb(240,240,241);
    background: linear-gradient(0deg, rgba(240,240,241,1) 0%, rgba(73,73,117,1) 51%, rgba(240,240,241,1) 100%);
}